# 监听端口
listen-ports:
  - 53

# 监听地址
listen-addrs:
  - "127.0.0.1"
  - "::1"

# 上游 DNS 服务器列表
upstream:
  # 指定 streaming 域名使用的上游
  - "[/20thcenturystudios.com.au/]${streaming_dns}"
  - "[/20thcenturystudios.com.br/]${streaming_dns}"
  - "[/20thcenturystudios.jp/]${streaming_dns}"
  - "[/abc-studios.com/]${streaming_dns}"
  - "[/abc.com/]${streaming_dns}"
  - "[/adventuresbydisney.com/]${streaming_dns}"
  - "[/aiv-cdn.net/]${streaming_dns}"
  - "[/amazonprimevideo.cn/]${streaming_dns}"
  - "[/amazonprimevideo.com.cn/]${streaming_dns}"
  - "[/amazonprimevideos.com/]${streaming_dns}"
  - "[/amazonvideo.cc/]${streaming_dns}"
  - "[/amazonvideo.com/]${streaming_dns}"
  - "[/babble.com/]${streaming_dns}"
  - "[/babyzone.com/]${streaming_dns}"
  - "[/bamgrid.com/]${streaming_dns}"
  - "[/beautyandthebeastmusical.co.uk/]${streaming_dns}"
  - "[/d1v5ir2lpwr8os.cloudfront.net/]${streaming_dns}"
  - "[/d22qjgkvxw22r6.cloudfront.net/]${streaming_dns}"
  - "[/d25xi40x97liuc.cloudfront.net/]${streaming_dns}"
  - "[/d27xxe7juh1us6.cloudfront.net/]${streaming_dns}"
  - "[/dilcdn.com/]${streaming_dns}"
  - "[/disney-asia.com/]${streaming_dns}"
  - "[/disney-discount.com/]${streaming_dns}"
  - "[/disney-plus.net/]${streaming_dns}"
  - "[/disney-portal.my.onetrust.com/]${streaming_dns}"
  - "[/disney-studio.com/]${streaming_dns}"
  - "[/disney-studio.net/]${streaming_dns}"
  - "[/disney.asia/]${streaming_dns}"
  - "[/disney.be/]${streaming_dns}"
  - "[/disney.bg/]${streaming_dns}"
  - "[/disney.ca/]${streaming_dns}"
  - "[/disney.ch/]${streaming_dns}"
  - "[/disney.co.il/]${streaming_dns}"
  - "[/disney.co.jp/]${streaming_dns}"
  - "[/disney.co.kr/]${streaming_dns}"
  - "[/disney.co.th/]${streaming_dns}"
  - "[/disney.co.uk/]${streaming_dns}"
  - "[/disney.co.za/]${streaming_dns}"
  - "[/disney.com/]${streaming_dns}"
  - "[/disney.com.au/]${streaming_dns}"
  - "[/disney.com.br/]${streaming_dns}"
  - "[/disney.com.hk/]${streaming_dns}"
  - "[/disney.com.tw/]${streaming_dns}"
  - "[/disney.cz/]${streaming_dns}"
  - "[/disney.de/]${streaming_dns}"
  - "[/disney.dk/]${streaming_dns}"
  - "[/disney.es/]${streaming_dns}"
  - "[/disney.fi/]${streaming_dns}"
  - "[/disney.fr/]${streaming_dns}"
  - "[/disney.gr/]${streaming_dns}"
  - "[/disney.hu/]${streaming_dns}"
  - "[/disney.id/]${streaming_dns}"
  - "[/disney.in/]${streaming_dns}"
  - "[/disney.io/]${streaming_dns}"
  - "[/disney.it/]${streaming_dns}"
  - "[/disney.my/]${streaming_dns}"
  - "[/disney.my.sentry.io/]${streaming_dns}"
  - "[/disney.nl/]${streaming_dns}"
  - "[/disney.no/]${streaming_dns}"
  - "[/disney.ph/]${streaming_dns}"
  - "[/disney.pl/]${streaming_dns}"
  - "[/disney.pt/]${streaming_dns}"
  - "[/disney.ro/]${streaming_dns}"
  - "[/disney.ru/]${streaming_dns}"
  - "[/disney.se/]${streaming_dns}"
  - "[/disney.sg/]${streaming_dns}"
  - "[/disneyadsales.com/]${streaming_dns}"
  - "[/disneyarena.com/]${streaming_dns}"
  - "[/disneyaulani.com/]${streaming_dns}"
  - "[/disneybaby.com/]${streaming_dns}"
  - "[/disneycareers.com/]${streaming_dns}"
  - "[/disneychannelonstage.com/]${streaming_dns}"
  - "[/disneychannelroadtrip.com/]${streaming_dns}"
  - "[/disneycruisebrasil.com/]${streaming_dns}"
  - "[/disneyenconcert.com/]${streaming_dns}"
  - "[/disneyiejobs.com/]${streaming_dns}"
  - "[/disneyinflight.com/]${streaming_dns}"
  - "[/disneyinternational.com/]${streaming_dns}"
  - "[/disneyinternationalhd.com/]${streaming_dns}"
  - "[/disneyjunior.com/]${streaming_dns}"
  - "[/disneyjuniortreataday.com/]${streaming_dns}"
  - "[/disneylatino.com/]${streaming_dns}"
  - "[/disneymagicmoments.co.il/]${streaming_dns}"
  - "[/disneymagicmoments.co.uk/]${streaming_dns}"
  - "[/disneymagicmoments.co.za/]${streaming_dns}"
  - "[/disneymagicmoments.de/]${streaming_dns}"
  - "[/disneymagicmoments.es/]${streaming_dns}"
  - "[/disneymagicmoments.fr/]${streaming_dns}"
  - "[/disneymagicmoments.gen.tr/]${streaming_dns}"
  - "[/disneymagicmoments.gr/]${streaming_dns}"
  - "[/disneymagicmoments.it/]${streaming_dns}"
  - "[/disneymagicmoments.pl/]${streaming_dns}"
  - "[/disneymagicmomentsme.com/]${streaming_dns}"
  - "[/disneyme.com/]${streaming_dns}"
  - "[/disneymeetingsandevents.com/]${streaming_dns}"
  - "[/disneymovieinsiders.com/]${streaming_dns}"
  - "[/disneymusicpromotion.com/]${streaming_dns}"
  - "[/disneynewseries.com/]${streaming_dns}"
  - "[/disneynow.com/]${streaming_dns}"
  - "[/disneypeoplesurveys.com/]${streaming_dns}"
  - "[/disneyplus.bn5x.net/]${streaming_dns}"
  - "[/disneyplus.com/]${streaming_dns}"
  - "[/disneyplus.com.ssl.sc.omtrdc.net/]${streaming_dns}"
  - "[/disneyredirects.com/]${streaming_dns}"
  - "[/disneysrivieraresort.com/]${streaming_dns}"
  - "[/disneystore.com/]${streaming_dns}"
  - "[/disneystreaming.com/]${streaming_dns}"
  - "[/disneysubscription.com/]${streaming_dns}"
  - "[/disneytickets.co.uk/]${streaming_dns}"
  - "[/disneyturkiye.com.tr/]${streaming_dns}"
  - "[/disneytvajobs.com/]${streaming_dns}"
  - "[/disneyworld-go.com/]${streaming_dns}"
  - "[/dmed.technology/]${streaming_dns}"
  - "[/dmqdd6hw24ucf.cloudfront.net/]${streaming_dns}"
  - "[/dssott.com/]${streaming_dns}"
  - "[/dtci.co/]${streaming_dns}"
  - "[/dtci.technology/]${streaming_dns}"
  - "[/edgedatg.com/]${streaming_dns}"
  - "[/espn.api.edge.bamgrid.com/]${streaming_dns}"
  - "[/espn.co.uk/]${streaming_dns}"
  - "[/espn.com/]${streaming_dns}"
  - "[/espn.hb.omtrdc.net/]${streaming_dns}"
  - "[/espn.net/]${streaming_dns}"
  - "[/espncdn.com/]${streaming_dns}"
  - "[/espndotcom.tt.omtrdc.net/]${streaming_dns}"
  - "[/espnqa.com/]${streaming_dns}"
  - "[/fast.com/]${streaming_dns}"
  - "[/go-disneyworldgo.com/]${streaming_dns}"
  - "[/go.com/]${streaming_dns}"
  - "[/hotstar-cdn.net/]${streaming_dns}"
  - "[/hotstar-labs.com/]${streaming_dns}"
  - "[/hotstar.com/]${streaming_dns}"
  - "[/hotstarext.com/]${streaming_dns}"
  - "[/hsprepack.akamaized.net/]${streaming_dns}"
  - "[/images-eu.ssl-images-amazon.com/]${streaming_dns}"
  - "[/images-fe.ssl-images-amazon.com/]${streaming_dns}"
  - "[/images-na.ssl-images-amazon.com/]${streaming_dns}"
  - "[/marvel.com/]${streaming_dns}"
  - "[/marvel10thanniversary.com/]${streaming_dns}"
  - "[/marveldimensionofheroes.com/]${streaming_dns}"
  - "[/marvelparty.net/]${streaming_dns}"
  - "[/marvelpinball.com/]${streaming_dns}"
  - "[/marvelsdoubleagent.com/]${streaming_dns}"
  - "[/marvelspotlightplays.com/]${streaming_dns}"
  - "[/marvelsuperheroseptember.com/]${streaming_dns}"
  - "[/marvelsuperwar.com/]${streaming_dns}"
  - "[/mickey.tv/]${streaming_dns}"
  - "[/moviesanywhere.com/]${streaming_dns}"
  - "[/msh.amazon.co.uk/]${streaming_dns}"
  - "[/natgeomaps.com/]${streaming_dns}"
  - "[/nationalgeographic.com/]${streaming_dns}"
  - "[/nationalgeographicpartners.com/]${streaming_dns}"
  - "[/netflix.ca/]${streaming_dns}"
  - "[/netflix.com/]${streaming_dns}"
  - "[/netflix.com.edgesuite.net/]${streaming_dns}"
  - "[/netflix.net/]${streaming_dns}"
  - "[/netflixdnstest0.com/]${streaming_dns}"
  - "[/netflixdnstest1.com/]${streaming_dns}"
  - "[/netflixdnstest10.com/]${streaming_dns}"
  - "[/netflixdnstest2.com/]${streaming_dns}"
  - "[/netflixdnstest3.com/]${streaming_dns}"
  - "[/netflixdnstest4.com/]${streaming_dns}"
  - "[/netflixdnstest5.com/]${streaming_dns}"
  - "[/netflixdnstest6.com/]${streaming_dns}"
  - "[/netflixdnstest7.com/]${streaming_dns}"
  - "[/netflixdnstest8.com/]${streaming_dns}"
  - "[/netflixdnstest9.com/]${streaming_dns}"
  - "[/netflixinvestor.com/]${streaming_dns}"
  - "[/netflixtechblog.com/]${streaming_dns}"
  - "[/nflxext.com/]${streaming_dns}"
  - "[/nflximg.com/]${streaming_dns}"
  - "[/nflximg.net/]${streaming_dns}"
  - "[/nflxsearch.net/]${streaming_dns}"
  - "[/nflxso.net/]${streaming_dns}"
  - "[/nflxvideo.net/]${streaming_dns}"
  - "[/ngeo.com/]${streaming_dns}"
  - "[/nomadlandmovie.ch/]${streaming_dns}"
  - "[/playmation.com/]${streaming_dns}"
  - "[/prime-video.com/]${streaming_dns}"
  - "[/primevideo.cc/]${streaming_dns}"
  - "[/primevideo.com/]${streaming_dns}"
  - "[/primevideo.info/]${streaming_dns}"
  - "[/primevideo.org/]${streaming_dns}"
  - "[/primevideo.tv/]${streaming_dns}"
  - "[/prod.service.minerva.devices.a2z.com/]${streaming_dns}"
  - "[/shopdisney.com/]${streaming_dns}"
  - "[/shops-disney.com/]${streaming_dns}"
  - "[/sorcerersarena.com/]${streaming_dns}"
  - "[/spaindisney.com/]${streaming_dns}"
  - "[/star-brasil.com/]${streaming_dns}"
  - "[/star-latam.com/]${streaming_dns}"
  - "[/starott.com/]${streaming_dns}"
  - "[/starplus.com/]${streaming_dns}"
  - "[/starwars.com/]${streaming_dns}"
  - "[/starwarsgalacticstarcruiser.com/]${streaming_dns}"
  - "[/starwarskids.com/]${streaming_dns}"
  - "[/static.siege-amazon.com/]${streaming_dns}"
  - "[/streamingdisney.net/]${streaming_dns}"
  - "[/themarvelexperiencetour.com/]${streaming_dns}"
  - "[/thestationbymaker.com/]${streaming_dns}"
  - "[/thisispolaris.com/]${streaming_dns}"
  - "[/watchdisneyfe.com/]${streaming_dns}"
  - "[/watchespn.com/]${streaming_dns}"
  # 指定 ${domain} 及其子域名直接查询
  - "[/*.${domain}/]tls://1.1.1.1"
  # 解析 ${mirror_name} 镜像地址
  - "[/${mirror_site}/]${mirror_site_dns}"
  # 默认上游：Cloudflare DNS over TLS
  - "tls://1.1.1.1"

# 缓存设置
cache: true
cache-size: 33554432        # 缓存大小，可根据内存情况调整
cache-min-ttl: 0        # 最小 TTL，设为 0 以完全尊重上游返回的 TTL（对不缓存域名很重要）
cache-max-ttl: 3600     # 最大 TTL，防止过时记录缓存太久
cache-optimistic: false # 关闭乐观缓存，防止返回过期数据（对实时性要求高的域名很重要）

# 其他优化
ratelimit: 0            # 速率限制 (0 表示禁用，仅本地使用通常不需要限制)
verbose: false          # 日志详细程度
insecure: false         # 验证上游 TLS 证书 (设为 false 保证安全)
ipv6-disabled: false    # 启用内部 IPv6 解析支持
